<div class="principal">

    <div class="container">



        <div class="navigation">

        </div>



    </div>

</div>


<div class="main">
    <div id="caja">
        <div id="contenedor">
            <div class="contenedor">
                <div class="row">
                    <div  *ngFor="let accesos of acceso" class="col1" routerLink = {{accesos.link2}}>

                        <img class="registrarpsicologo" src={{accesos.img}} alt="">
                        <span>{{accesos.nomaccesos}}</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>