@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #52A820;
    border-color: #2d7a00;
}

.todo {
    top: -42px;
    position: relative;
    height: 90%;
}

.btn-success:hover {
    background-color: #2e7504
}

.lista1 {
    width: 98%;
    top: -12px;
    left: 12px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
    overflow-x: scroll;
}

.lista2 {
    width: 98%;
    left: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
    overflow-x: scroll;
    grid-column: 2/2;
    grid-row: 1;
    position: relative;
    float: right;
    margin-right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.paasig {
    display: flex;
    justify-content: center;
}

.tabla2 {
    text-align: center;
}

.row {
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1480px;
    }
}

@media (max-width: 1230px) {
    .col-sm {
        flex: 100%;
    }
    .lista2 {
        width: 100%;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
        overflow-x: scroll;
        grid-column: 2/2;
        grid-row: 1;
        position: relative;
        float: right;
        left: 0px;
        margin-top: 15px;
    }
}

.estilos1 {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    left: 20px;
    font-family: 'Concert One', cursive;
    position: relative;
    align-items: center;
    top: -5px;
}

.paasig {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #efeefd;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.paasig1 {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #efeefd;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.perfilagregar {
    max-width: 140px;
    height: 119px;
}

.documentologo {
    width: 85px;
    height: 85px;
}

.modal-header {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #640326;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-title {
    left: 10px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 600;
    top: -10px;
    color: white;
}

.btn-close {
    background-color: white;
    opacity: 70%;
}

.btn-close:hover {
    background-color: white;
    opacity: 100%;
}