.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #52A820;
    border-color: #2d7a00;
}

.todo {
    top: -30px;
    position: relative;
    height: 90%;
}

.btn-success:hover {
    background-color: #2e7504
}

.lista1 {
    width: 98%;
    top: -12px;
    left: 12px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
    overflow-x: scroll;
}

.lista2 {
    width: 98%;
    left: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
    overflow-x: scroll;
    grid-column: 2/2;
    grid-row: 1;
    position: relative;
    float: right;
    margin-right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.paasig {
    display: flex;
    justify-content: center;
}

.estilos1 {
    color: #005eac;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
}

.tabla2 {
    text-align: center;
}

.row {
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1480px;
    }
}

@media (max-width: 1230px) {
    .col-sm {
        flex: 100%;
    }
    .lista2 {
        width: 100%;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 3px 10px 0px rgb(0 0 0 / 30%);
        overflow-x: scroll;
        grid-column: 2/2;
        grid-row: 1;
        position: relative;
        float: right;
        left: 0px;
        margin-top: 15px;
    }
}