<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">

<body>
    <div class="pantalla">
        <div class="contenedor">
            <div class="login-formulario">
                <form class="formulario-form validate-form">

                    <span class="formulario-form-titulo p-b-26">Oído Amigo</span>

                    <div class="contenedorlogo"><img class="logologin" src="../../assets/img/logo2.png" alt=""></div>

                    <!-- <div class="username">
                        <label for="">Usuario: </label>
                        <input type="username" placeholder="Usuario">
                    </div>
                    <br>
                    <div class="password">
                        <label for="">Contraseña: </label>
                        <input type="password" placeholder="Contraseña">
                    </div> -->

                    <div class="input-box underline">
                        <input type="text" placeholder="Ingresa el Usuario" required>
                        <div class="underline"></div>
                        <!-- <div class="icon"><i class='bx bxs-user'></i></div> -->
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Ingresa la Contraseña" required>
                        <div class="underline"></div>
                        <!-- <div class="icon"><i class='bx bxs-lock-alt'></i></div> -->
                    </div>

                    <br><br>

                    <div class="button">
                        <div class="content">
                            <i class='bx bx-log-in'></i>
                            <span class="button-text" style="color: white;">Iniciar Sesión</span>
                        </div>
                    </div>

                    <br><br><br><br>

                    <div class="olvidaste" style="text-align: center;">
                        <label>¿Olvidaste tú contraseña?</label>
                    </div>

                    <div class="recuperar" style="text-align: center;">
                        <a href="#" style="text-decoration: none;">Recuperar</a>
                    </div><br>
                </form>
            </div>
        </div>
    </div>
</body>