.todo {
  width: 98%;
  position: relative;
  top: -32px;
  left: 12px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 3px 10px 0px rgb(0 0 0 / 25%);
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.gripgeneral {
  display: grid;
  grid-template-columns: 400px auto auto auto;
  grid-gap: 25px;
}

.grip {
  background: #ccc3ff;
  border-radius: 12px;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
  color: white;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
  height: 700px;
}

.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  cursor: pointer;
}

.item3 {
  grid-row-start: 1;
  grid-row-end: 2;
  cursor: pointer;
}

.item4 {
  grid-row-start: 1;
  grid-row-end: 2;
  cursor: pointer;
}

.item5 {
  grid-row-start: 2;
  grid-row-end: 2;
  cursor: pointer;
}

.item6 {
  grid-row-start: 2;
  grid-row-end: 2;
  cursor: pointer;
}

.item7 {
  grid-row-start: 2;
  grid-row-end: 2;
  cursor: pointer;
}

.item8 {
  grid-row-start: 3;
  grid-row-end: 3;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .gripgeneral {
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-gap: 25px;
  }
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 700px;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item3 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item4 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item5 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item6 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .item7 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .item8 {
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 1302px) {
  .gripgeneral {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 25px;
  }
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 700px;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
  }
  .item3 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item4 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .item5 {
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: black;
  }
  .item6 {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .item7 {
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .item8 {
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

@media screen and (max-width: 1000px) {
  .gripgeneral {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
  }
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 700px;
  }
  .item2 {
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: aqua;
  }
  .item3 {
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .item4 {
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .item5 {
    grid-row-start: 8;
    grid-row-end: 8;
    background-color: black;
  }
  .item6 {
    grid-row-start: 9;
    grid-row-end: 9;
  }
  .item7 {
    grid-row-start: 10;
    grid-row-end: 10;
  }
  .item8 {
    grid-row-start: 11;
    grid-row-end: 11;
  }
}

.perfilpaciente2 {
  width: 400px;
  height: 500px;
  background: #ece9ff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  position: relative;
  top: -180px;
  overflow: scroll;
}

label {
  color: #7b1038;
  font-weight: bold;
  float: left;
}

.pacienteperfil {
  width: 370px;
  position: relative;
  top: -190px;
  left: 15px;
}

.item1:hover {
  background: #afa2f8;
}

.item2:hover {
  background: #afa2f8;
}

.item3:hover {
  background: #afa2f8;
}

.item4:hover {
  background: #afa2f8;
}

.item5:hover {
  background: #afa2f8;
}

.item6:hover {
  background: #afa2f8;
}

.item7:hover {
  background: #afa2f8;
}

.item8:hover {
  background: #afa2f8;
}
