<div class="todo1">
    <div class="todo">
        <div class="gripgeneral">
            <div class="grip1 item1">
                <div class="pacienteperfil">
                    <img src="../../../assets/img/pacienteasignadoperfil.png" alt="">
                </div>

                <div *ngFor="let paciente of pac" class="perfilpaciente2">
                    <div class="distancia">
                        <label class="texto" for=""><ion-icon name="person-outline"></ion-icon>Nombres y Apellidos</label><br>
                        <label class="texto1"> {{paciente.nombres + " " + paciente.apellidos}}</label>
                    </div>
                    <div class="distancia">
                        <label class="texto" for=""><ion-icon name="person-outline"></ion-icon>Telefono</label><br>
                        <label class="texto1"> {{paciente.telefono}}</label>
                    </div>
                    <div class="distancia">
                        <label class="texto" for=""><ion-icon name="airplane-outline"></ion-icon>Pais</label><br>
                        <label class="texto1"> {{paciente.pais}}</label>
                    </div>
                    <div class="distancia">
                        <label class="texto" for=""><ion-icon name="help-circle-outline"></ion-icon>Motivo Consulta</label><br>
                        <label class="texto3"> {{paciente.motivoconsulta}}</label>
                    </div>
                </div>
            </div>
            <div class="grip item2">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">

                    <div class="img1">
                        <img src="../../../assets/img/sesiones.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent1">
                                <label class="cuatext1">Sesión 1</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="calendar-number-outline"></ion-icon>25/04/2021</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="time-outline"></ion-icon>08:00 Am</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext2">Estado: Finalizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item3">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img1">
                        <img src="../../../assets/img/sesiones.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent1">
                                <label class="cuatext1">Sesión 2</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="calendar-number-outline"></ion-icon>25/04/2021</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="time-outline"></ion-icon>08:00 Am</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext2">Estado: Finalizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item4">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img1">
                        <img src="../../../assets/img/sesiones.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent1">
                                <label class="cuatext1">Sesión 3</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="calendar-number-outline"></ion-icon>25/04/2021</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext"><ion-icon name="time-outline"></ion-icon>08:00 Am</label>
                        </div>

                        <div class="cuacontent">
                            <label class="cuatext2">Estado: Finalizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item5">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img2">
                        <img src="../../../assets/img/reportelogo.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent2">
                                <label class="cuatext1">Reporte 1</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext4">Estado: Realizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item6">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img2">
                        <img src="../../../assets/img/reportelogo.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent2">
                                <label class="cuatext1">Reporte 2</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext4">Estado: Realizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item7">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img2">
                        <img src="../../../assets/img/reportelogo.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent2">
                                <label class="cuatext1">Reporte 3</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext4">Estado: Realizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grip item8">
                <div class="cuadro" data-bs-toggle="modal" data-bs-target="#modal1">
                    <div class="img2">
                        <img src="../../../assets/img/reportelogo.png" alt="">
                    </div>
                    <div class="absolute">
                        <a href="https://meet.google.com/" target="_blank">
                            <div class="cuacontent2">
                                <label class="cuatext1">Reporte General</label>
                            </div>
                        </a>

                        <div class="cuacontent">
                            <label class="cuatext4">Estado: Realizado</label>
                        </div>
                        <div class="cuacontent">
                            <label class="cuatext"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Datos del Paciente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Nombres Completos</label>
                            <input type="text" class="form-control" id="inputEmail4" name="nombre" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Apellidos Completos</label>
                            <input type="text" class="form-control" id="inputPassword4" name="apellido" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Número de Celular</label>
                            <input type="text" class="form-control" id="inputPassword4" name="telefonos" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Pais</label>
                            <input type="text" class="form-control" id="inputPassword4" name="paises" disabled>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Consulta</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="consulta" disabled></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Psicólogo Asignado</label>
                            <input type="text" class="form-control" id="inputPassword4" name="paises" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Número del Psicólogo</label>
                            <input type="text" class="form-control" id="inputPassword4" name="paises" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>