<div class="todo1">
    <div class="todo">
        <div class="gripgeneral">
            <div class="grip item1">
                <div class="pacienteperfil">
                    <img src="../../../assets/img/pacienteasignadoperfil.png" alt="">
                </div>
                <div class="perfilpaciente2">
                    <div>
                        <label> Nombre</label>
                    </div>
                    <br>
                    <div>
                        <label> Apellido</label>
                    </div>
                    <br>
                    <div>
                        <label> Telefono</label>
                    </div><br>
                    <div>
                        <label> DNI</label>
                    </div><br>
                    <div>
                        <label> Pais</label>
                    </div><br>
                    <div>
                        <label> Consulta</label>
                    </div>
                </div>
            </div>
            <div class="grip item2">
                <div class="sesion1"></div>
            </div>
            <div class="grip item3">
                <div class="sesion2"></div>
            </div>
            <div class="grip item4">
                <div class="sesion3"></div>
            </div>
            <div class="grip item5">
                <div class="reporte1"></div>
            </div>
            <div class="grip item6">
                <div class="reporte2"></div>
            </div>
            <div class="grip item7">
                <div class="reporte3"></div>
            </div>
            <div class="grip item8">
                <div class="reportegeneral"></div>
            </div>
        </div>
    </div>
</div>