<div class="todo1">
    <div class="todo">
        <div class="gripgeneral">
            <div class="grip item1">
                <div class="pacienteperfil">
                    <img src="../../../assets/img/pacienteasignadoperfil.png" alt="">
                </div>
                <div *ngFor="let paciente of pac" class="perfilpaciente2">
                    <div>
                        <label for="">Nombres: </label><br>
                        <label> {{paciente.nombres}}</label>
                    </div>
                    <br>
                    <div>
                        <label for="">Apellidos: </label><br>
                        <label> {{paciente.apellidos}}</label>
                    </div>
                    <br>
                    <div>
                        <label for="">Telefono: </label><br>
                        <label> {{paciente.telefono}}</label>
                    </div><br>
                    <div>
                        <label for="">Pais: </label><br>
                        <label> {{paciente.pais}}</label>
                    </div><br>
                    <div>
                        <label for="">Motivo Consulta</label><br>
                        <label> {{paciente.motivoconsulta}}</label>
                    </div>
                </div>
            </div>
            <div class="grip item2">
                <div class="sesion1"></div>
            </div>
            <div class="grip item3">
                <div class="sesion2"></div>
            </div>
            <div class="grip item4">
                <div class="sesion3"></div>
            </div>
            <div class="grip item5">
                <div class="reporte1"></div>
            </div>
            <div class="grip item6">
                <div class="reporte2"></div>
            </div>
            <div class="grip item7">
                <div class="reporte3"></div>
            </div>
            <div class="grip item8">
                <div class="reportegeneral"></div>
            </div>
        </div>
    </div>
</div>