@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.principal {
    padding: 8px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: rgb(238, 238, 238);
}

.contenedor1 {
    width: 100%;
    min-height: 97.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: #f2f2f2;
}

.contenedor {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 35px 35px 35px;
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 40%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-logearse {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 25%);
    position: absolute;
    right: 20px;
    top: 20px;
}

.btnn {
    border-width: 2px;
    border-color: #4e011d;
    color: #4e011d;
}

.btnn:hover {
    background-color: #7B1038;
    color: white;
}

.reg-consulta {
    justify-content: center;
    padding-top: 15px;
    display: flex;
}

.reg {
    width: 318px;
    background: #7B1038;
}

.reg:hover {
    background: #4e011d;
}

.logearse-contenido {
    width: 155px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-button {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

i {
    margin-right: 5px;
}

.titulo {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    display: flex;
    padding: 10px;
}

.formulario {
    text-align: center;
}

.texto {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    position: relative;
    top: 10px;
    font-family: 'Poppins', sans-serif;
}

.fomulario-consulta {
    padding-top: 40px;
    padding-bottom: 15px;
}

.nombres {
    display: flex;
}

.apellidos {
    display: flex;
    padding-top: 20px;
}

.celular {
    display: flex;
    padding-top: 20px;
}

.pais {
    display: flex;
    padding-top: 20px;
}

.consulta {
    display: flex;
    padding-top: 20px;
}

.form-control {
    height: 35px;
    padding: 5px;
}

.f {
    height: 160px;
}

.form-control::placeholder {
    /* Centrado vertical */
}