<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!-- Instalación del ionicons "ng add @ionic/angular" -->

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/agregar-psicologo' ]">
                    <a>
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Agregar Nuevo Psicologo</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/lista-psicologos' ]">
                    <a>
                        <span class="icon"><ion-icon name="list-circle-outline"></ion-icon></span>
                        <span class="title">Lista de Psicologos</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/lista-pacientes' ]">
                    <a>
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">Lista de Pacientes</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/reporte-paciente' ]">
                    <a>
                        <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                        <span class="title">Reportes de Pacientes</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/paciente-asignado' ]">
                    <a>
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">Paciente Asignado</span>
                    </a>
                </li>
                <li class="cursor-click" [routerLink]="[ '/sidebar/configuracion' ]">
                    <a>
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Configuración</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="main">
        <div id="caja">
            <div id="contenedor">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>



</body>

<!-- <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Oido Amigo</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list"> -->
<!-- <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li> -->
<!-- <li class="cursor-click" [routerLink]="[ '/sidebar/agregar-psicologo' ]">
            <a>
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Agregar Psicólogo</span>
            </a>
            <span class="tooltip">Agregar Psicólogo</span>
        </li>
        <li class="cursor-click" [routerLink]="[ '/sidebar/lista-psicologos' ]">
            <a>
                <i class='bx bx-user'></i>
                <span class="links_name">Lista de Psicólogo</span>
            </a>
            <span class="tooltip">Lista de Psicólogo</span>
        </li>
        <li class="cursor-click" [routerLink]="[ '/sidebar/lista-pacientes' ]">
            <a>
                <i class='bx bx-chat'></i>
                <span class="links_name">Lista de Pacientes</span>
            </a>
            <span class="tooltip">Lista de Pacientes</span>
        </li>
        <li class="cursor-click" [routerLink]="[ '/sidebar/reporte-paciente' ]">
            <a>
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Reporte de Pacientes</span>
            </a>
            <span class="tooltip">Reporte de Pacientes</span>
        </li>
        <li class="cursor-click" [routerLink]="[ '/sidebar/paciente-asignado' ]">
            <a>
                <i class='bx bx-folder'></i>
                <span class="links_name">Paciente Asiganado</span>
            </a>
            <span class="tooltip">Paciente Asiganado</span>
        </li>

        <li class="cursor-click" [routerLink]="[ '/sidebar/configuracion' ]">
            <a>
                <i class='bx bx-cog'></i>
                <span class="links_name">Configuración</span>
            </a>
            <span class="tooltip">Configuración</span>
        </li>
        <li class="cursor-click" class="profile">
            <div class="profile-details">
                <img src="../../assets/img/profile.jpg" alt="profileImg">
                <div class="name_job">
                    <div class="name">Diego Joel</div>
                    <div class="job">Alor Chavarria</div>
                </div>
            </div>
            <a href="#">
                <i class='bx bx-log-out' id="log_out"></i>
            </a>

        </li>
    </ul>
</div> -->


<!-- <div id="caja">
        <div id="contenedor">
            <router-outlet></router-outlet>
        </div>
    </div> -->