<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<div class="todo">
    <div class="lista1">
        <div class="paasig">
            <b class="estilos1">Lista de Psicólogos</b>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Universidad</th>
                    <th scope="col">Grado</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let psicologo of psicologoslist | paginate: {itemsPerPage: 10, currentPage: p} ;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{psicologo.nombres}}</td>
                    <td>{{psicologo.apellidos}}</td>
                    <td>{{psicologo.correo}}</td>
                    <td>{{psicologo.telefono}}</td>
                    <td>{{psicologo.universidad}}</td>
                    <td>{{psicologo.gradoacademico}}</td>
                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <ion-icon name="eye-outline" style="cursor: pointer; color: brown; font-size: 25px;"></ion-icon>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" style="text-align: center;"></pagination-controls>

        <!-- **************     MODAL      ***************-->

        <!-- <div class="modal-dialog modal-lg"></div> -->

        <!-- (click)="open(content)" -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Datos Generales</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Nombres Completos</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Nombres Completos" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Apellidos Completos</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Apellidos Completos" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Dni</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Dni" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Pais</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Pais" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputAddress" class="form-label">Telefono</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Telefono" disabled>
                            </div>
                            <div class="col-6">
                                <label for="inputAddress2" class="form-label">Correo Electronico</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Correo Electronico" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Universidad</label>
                                <input type="text" class="form-control" id="inputCity" placeholder="Universidad" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Grado Academico</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="Grado Academico" disabled>
                            </div>
                            <div class="d-grid gap-2" style="text-align: center;">
                                <button type="button" class="btn btn-primary" style="font-size: 17px; font-family: 'Ubuntu', sans-serif;">Modificar Datos</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>