<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<div class="todo">
    <div class="row">
        <div class="col-md-8">
          <div class="lista1" *ngFor="let psi of psicolo">
            <div class="paasig">
                <b class="estilos1">Perfil Usuario</b>
            </div>
                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-md"><label for="">Imagen</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>Nombres y Apellidos: </h2>
                    <div class="col-md"><label>{{psi.nombres+" "+psi.apellidos}}</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>Universidad: </h2>
                    <div class="col-md"><label for="">{{psi.universidad}}</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>Grado Academico: </h2>
                    <div class="col-md"><label for="">{{psi.gradoacademico}}</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>DNI: </h2>
                    <div class="col-md"><label for="">{{psi.dni}}</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>Correo: </h2>
                    <div class="col-md"><label for="">{{psi.correo}}</label></div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <h2>Telefono: </h2>
                    <div class="col-md"><label for="">{{psi.telefono}}</label></div>
                </div>
                <div class="row">
                    <h2>Pais: </h2>
                    <div class="col-md"><label for="">{{psi.pais}}</label></div>
                </div>
          </div>  
        </div>
        <div class="col-sm-4">
            <div class="lista1">
                <div class="paasig">
                    <b class="estilos1">Editar Usuario</b>
                </div>
                <div class="container">
                    <div class="container" style="margin-bottom: 15px;">
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col">
                                <label for="exampleInputEmail1">Contraseña Anterior</label>
                                <input  type="text" class="form-control"  aria-label="Names" aria-describedby="basic-addon1" id="nom" [(ngModel)]="usuario.pass">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col">
                                <label for="exampleInputEmail1">Nombre de Usuario</label>
                                <input  type="text" class="form-control"  aria-label="Names" aria-describedby="basic-addon1" id="apel" [(ngModel)]="usuario.username" >
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col">
                                <label for="exampleInputEmail1">Contraseña Nueva</label>
                                <input type="text" class="form-control"  aria-label="Names" aria-describedby="basic-addon1" id="dni" [(ngModel)]="usuario.password"  >
                            </div>
                        </div>
                    </div>          
                    <div class="container" style="margin-bottom: 15px;">
                        <div class="row" style="margin-top: 40%;">
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-success" style="margin-top:30px; float: right;" (click) = "updateUser(usuario)" >Enviar</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
